<div *ngIf="authorised;else noPermission">
  <form [formGroup]="addUserForm">
    <div>
      <label for="firstname" class="form-label">Firstname</label>
      <input class="form-control" id="firstname" formControlName="firstname" />
    </div>
    <div>
      <label for="lastname" class="form-label">Lastname</label>
      <input class="form-control" id="lastname" formControlName="lastname" />
    </div>
    <div>
      <label for="email" class="form-label">Email</label>
      <input
        class="form-control"
        type="email"
        id="email"
        formControlName="email"
      />
    </div>
    <div>
      <label for="password" class="form-label">Password</label>
      <input
        class="form-control"
        type="password"
        id="password"
        formControlName="password"
      />
    </div>
    <br />
    <div formGroupName="permissionForm">
      <h4>Permissions:</h4>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="canRead"
          formControlName="canRead"
        />
        <label class="form-check-label" for="canRead"> CAN_READ </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="canCreate"
          formControlName="canCreate"
        />
        <label class="form-check-label" for="canCreate"> CAN_CREATE </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="canUpdate"
          formControlName="canUpdate"
        />
        <label class="form-check-label" for="canUpdate"> CAN_UPDATE </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="canDelete"
          formControlName="canDelete"
        />
        <label class="form-check-label" for="canDelete"> CAN_DELETE </label>
      </div>
    </div>
    <br />
    <button class="confirm-btn" (click)="addUser()">Save user</button>
  </form>
</div>

<ng-template #noPermission>
  <h3> You have no permission.</h3>
</ng-template>
