<form [formGroup]="addUserForm">
    <div>
        <label for="firstname" class="form-label">Firstname</label>
        <input class="form-control" id="firstname" formControlName="firstname">
    </div>
    <div>
        <label for="lastname" class="form-label">Lastname</label>
        <input class="form-control" id="lastname" formControlName="lastname">
    </div>
    <div>
        <label for="email" class="form-label">Email</label>
        <input class="form-control" type="email" id="email" formControlName="email">
    </div>
    <div>
        <label for="password" class="form-label">Password</label>
        <input class="form-control" type="password" id="password" formControlName="password">
    </div>
    <br />
  <button class="btn btn-primary" (click)="addUser()">Add user</button>
</form>