<div *ngIf="authorisedToUpdate; else noPermission">
  <h3>User data</h3>
  <div class="user-data" *ngIf="user">
    <p>Firstname: {{ user.firstname }}</p>
    <p>Lastname: {{ user.lastname }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Permissions: {{ user.permissionList | permission}}</p>
  </div>
  <br />
  <div *ngIf="authorisedToDelete">
    <button class="btn btn-danger" (click)="deleteUser()">Delete user</button>
  </div>
  <hr />
  <h3>Change user data</h3>
  <div *ngIf="user">
    <app-user-form 
    [disableEmailChange]="true"
    (formValue)="editUser($event)"></app-user-form>
  </div>
</div>

<ng-template #noPermission>
  <h3>You have no permission.</h3>
</ng-template>
