/* You can add global styles to this file, and also import other style files */

.logo {
  background-image: url("images/logo.png");
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-left: 5px;
  margin-right: 15px;
}

.confirm-btn {
  background-color: #18798d;
  color: #ffffff;
  border: none;
  min-width: 100px;
  border-radius: 5px;
  padding: 5px 5px;
}
